<p id="notice"><%= notice %></p>
<div class="container">
  <table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Price</th>
      <th>Date</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Destroy</th>
      </tr>
  </thead>

  <tbody>
  <% if @users.present? %>
   <%  @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.price %></td>
        <td><%= user.pay_date %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
   <% end %>
  <% end %>
  </tbody>
</table>
 <td><%= link_to 'New', new_user_path , class: 'btn btn-primary', style: 'color:white' %></td>
<td><%= link_to 'Money', new_charge_path , class: 'btn btn-primary', style: 'color:white' %></td>

</div>

       