<h1>Login</h1>
<div class="container">
<body>
    <div class="bs-example">
        <%= form_for @user_session, :as => :user_session, :url => { :action => "create" } do |f| %>
            <div class="form-group">
                <label for="inputEmail">Email</label>
                <%= f.text_field :email , :class => "form-control" , :placeholder => "Email" %>
                <br/>
            </div>
            <div class="form-group">
                <label for="inputPassword">Password</label>
                <%= f.password_field :password , :class => "form-control" , :placeholder => "Password" %>
                <br/>
            </div>
            <div>
                <%= f.check_box :remember_me %>
                <label> Remember me</label>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            <div><%= link_to "Signup", signup_url %></div>
        <% end %>
    </div>
</body>
</html>